In [1]:
import pandas as pd 
from pytrends.request import TrendReq
pytrend = TrendReq()

# Let's get the trending searches in Germany

In [2]:
trending_searches_df = pytrend.trending_searches(pn='germany')
print(trending_searches_df.head(10))

                         0
0              Tina Ruland
1  Chelsea gegen Liverpool
2            Antonio Brown
3             Sophia Thiel
4                Rick Okon
5         Alexander Zverev
6              Real Madrid
7        The Biggest Loser
8                Barcelona
9                Südafrika

# Top searches for Austria

In [4]:
trending_searches_df = pytrend.trending_searches(pn='austria')
print(trending_searches_df.head(10))

                        0
0         Marcel Hirscher
1            Kylie Jenner
2    Desperate Housewives
3                Vignette
4           G.G. Anderson
5                 Neujahr
6                 La Liga
7           Antonio Brown
8  Impfpflicht Österreich
9               Barcelona

# Top Charts for Germany

In [11]:
top_charts_df = pytrend.top_charts(2019, hl='en-US', tz=300, geo='DE')
print(top_charts_df)

                title exploreQuery
0      Rebecca Reusch
1          Notre Dame
2         Handball WM
3      Karl Lagerfeld
4               Julen
5          Europawahl
6           Frauen WM
7  30 Jahre Mauerfall
8         Thomas Cook
9      Greta Thunberg

# Let's try keyword Suggestions (camper van)

In [12]:
suggestions_dict = pytrend.suggestions(keyword='camper van')
print(pd.DataFrame(suggestions_dict).drop('mid', axis=1))

                                         title       type
0  LEGO 10220 Creator Volkswagen T1 Camper Van      Topic
1                  Volkswagen Westfalia Camper      Topic
2                         Camper Van Beethoven  Rock band

# Keyword Suggestion (travel)

In [13]:
suggestions_dict = pytrend.suggestions(keyword='travel')
print(pd.DataFrame(suggestions_dict).drop('mid', axis=1))

         title           type
0       Travel          Topic
1  Booking.com        Website
2    Traveloka          Topic
3        KAYAK  Travel agency
4   Travelodge  Hotel company

# Let's see the interest over time for travel

In [14]:
# create a payload and capture API tokens. Only needed for interest_over_time(), interest_by_region() &amp; related_queries()
pytrend.build_payload(kw_list=['travel'])
 
# Interest Over Time
interest_over_time_df = pytrend.interest_over_time()
print(interest_over_time_df.tail(10))

            travel isPartial
date
2021-10-24      39     False
2021-10-31      37     False
2021-11-07      41     False
2021-11-14      38     False
2021-11-21      40     False
2021-11-28      49     False
2021-12-05      44     False
2021-12-12      46     False
2021-12-19      41     False
2021-12-26      41      True

# Not much interest in travel nowadays... Let's see the interest by region for travel

In [15]:
# Interest by Region
interest_by_region_df = pytrend.interest_by_region()
print(interest_by_region_df.sort_values(['travel'], ascending=False).head(20))

                      travel
geoName
United Kingdom           100
Singapore                 94
Ireland                   88
Australia                 85
New Zealand               83
United Arab Emirates      67
Canada                    67
St. Helena                66
Serbia                    61
Philippines               58
Qatar                     55
United States             52
South Africa              44
Hong Kong                 41
Malaysia                  39
Lebanon                   37
Greece                    32
Sri Lanka                 28
Indonesia                 26
Switzerland               24

# Let's get the related queries for travel

In [16]:
# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict['travel']['top'].head(20))
print(related_queries_dict['travel']['rising'].head(20))

                        query  value
0            travel insurance    100
1                 best travel     83
2                 time travel     74
3         travel restrictions     58
4                 travel card     38
5                  air travel     32
6               travel agency     31
7              travel trailer     31
8                  travel ban     27
9                 visa travel     26
10               travel to uk     24
11              google travel     23
12                 travel bag     23
13               travel agent     22
14                travel news     21
15                 one travel     19
16               travel money     18
17            travel trailers     16
18              costco travel     13
19  covid travel restrictions     13
                           query  value
0      covid travel restrictions  75800
1            pcr test for travel  29150
2            hawaii covid travel  12850
3     hawaii travel restrictions  10200
4               trump travel ban   9350
5     canada travel restrictions   6950
6         uk travel restrictions   6550
7                  us travel ban   6400
8         ny travel restrictions   4600
9                 travel ban usa   4550
10  new york travel restrictions   4200
11     spain travel restrictions   3900
12     italy travel restrictions   3800
13     india travel restrictions   3650
14        bc travel restrictions   3500
15     maine travel restrictions   3300
16    greece travel restrictions   3250
17           travel restrictions   3200
18    france travel restrictions   2850
19    mexico travel restrictions   2750

# Let's get the related topics for travel as well

In [17]:
related_topic = pytrend.related_topics()
related_topic['travel']['rising'].drop(['link','topic_mid'], axis=1).head(20)

,value,formattedValue,topic_title,topic_type
0,108150,Breakout,COVID-19 testing,Topic
1,21450,Breakout,Polymerase chain reaction,Medical test
2,17500,Breakout,Lockdown,Topic
3,9900,Breakout,Quarantine,Topic
4,1750,"+1,750%",Travel ban,Topic
5,450,+450%,Border,Topic
6,190,+190%,Centers for Disease Control and Prevention,Government agency
7,100,+100%,Hawaii,US State
8,100,+100%,Travel Backpack,Topic
9,90,+90%,Travel nursing,Topic
10,70,+70%,Jamaica,Country in the Caribbean